# Manipulation de RDD - RDD handling

### Créer un RDD - Create a RDD

In [6]:
liste = ["pandas", "i like pandas"]
exemple = sc.parallelize(liste)
# ou exemple = sc.parallelize(["pandas", "i like pandas"])

In [7]:
type(exemple)

pyspark.rdd.RDD

### Operations sur RDD - Operations in RDD

* On lit un fichier texte "file1.txt"

* We read "file1.txt"

In [8]:
ville = sc.textFile("hdfs:///user/ecoles/test_Helene/file1.txt",use_unicode=False).cache()
# Si on n'ajoute pas "use_unicode = False", par défaut, c'est True, il y aura des "u" devant chaque ligne.
# If we don't add "use_unicode = False", by default, it is True, and we will see "u" in the result.
ville1 = sc.textFile("hdfs:///user/ecoles/test_Helene/file1.txt").cache()

In [9]:
ville.collect()

['44000, Nantes',
 '49000, Angers',
 '50000, Baudre',
 '51100, Reims',
 '59000, Lille',
 '64500, Saint-Jean de Luz',
 '64600, Anglet',
 '75013, Paris 13',
 '75004, Paris 4']

In [10]:
ville1.collect()

[u'44000, Nantes',
 u'49000, Angers',
 u'50000, Baudre',
 u'51100, Reims',
 u'59000, Lille',
 u'64500, Saint-Jean de Luz',
 u'64600, Anglet',
 u'75013, Paris 13',
 u'75004, Paris 4']

#### count()

* Pour compter nombre de lignes de RDD

* To count number of lines in RDD

In [11]:
ville.count()

9

### Afficher le résultat - Show results

#### first()

* Pour afficher la première ligne 

* To show first line

In [12]:
ville.first()

'44000, Nantes'

##### take() ou top()

* Pour afficher 10 premieres lignes

* To show 10 first lines

In [13]:
ville.take(10)

['44000, Nantes',
 '49000, Angers',
 '50000, Baudre',
 '51100, Reims',
 '59000, Lille',
 '64500, Saint-Jean de Luz',
 '64600, Anglet',
 '75013, Paris 13',
 '75004, Paris 4']

* Ici on a 9 lignes en total, du coup il va afficher tout.

* Here we have 9 lines in total, so it will show all lines.

In [14]:
ville.top(10)

['75013, Paris 13',
 '75004, Paris 4',
 '64600, Anglet',
 '64500, Saint-Jean de Luz',
 '59000, Lille',
 '51100, Reims',
 '50000, Baudre',
 '49000, Angers',
 '44000, Nantes']

##### Pour imprimer joliment, pas dans une liste - To have result not in list

In [15]:
# Si on utilise take(), on aura un resultat qui sera une liste
# If we use take(), the result will be a list
ex1 = ville.take(5)

In [16]:
type(ex1)

list

In [17]:
ex1

['44000, Nantes',
 '49000, Angers',
 '50000, Baudre',
 '51100, Reims',
 '59000, Lille']

In [18]:
for line in ville.take(5):
    print line

44000, Nantes
49000, Angers
50000, Baudre
51100, Reims
59000, Lille

#### collect()

In [19]:
ville.collect()

['44000, Nantes',
 '49000, Angers',
 '50000, Baudre',
 '51100, Reims',
 '59000, Lille',
 '64500, Saint-Jean de Luz',
 '64600, Anglet',
 '75013, Paris 13',
 '75004, Paris 4']

### Transformations basiques sur RDD - Basic Transformations in RDD

In [20]:
exemple = sc.parallelize([1, 2, 3, 4])

#### map()

* Pour appliquer une fonction pour chaque ligne de RDD

* To apply a function for each line of RDD

In [21]:
# Pour ajouter 1 à chaque ligne
# To add 1 to each line of RDD
res = exemple.map(lambda x : x + 1)

In [22]:
res.collect()

[2, 3, 4, 5]

#### filter()

In [23]:
# Pour filtrer les lignes contenant "Nantes"
# To filter lines that contains "Nantes"
nantes = ville.filter(lambda ville: "Nantes" in ville)

In [24]:
nantes.count()

1

In [25]:
# Pour selectionner les lignes > 2 dans exemple
# To select line > 2 in exemple
dat = exemple.filter(lambda x : x>2)

In [26]:
dat.collect()

[3, 4]

##### reduce()

* Pour appliquer une fonction sur toutes les lignes de RDD

* To apply a function for every lines of RDD

In [27]:
# On calcule la somme des lignes dans RDD
# We compute sum of lines in RDD
red = exemple.reduce(lambda x, y: x + y)

In [28]:
red

10