# Working with Data Files

**Originally Contributed by**: Arpit Bhatia

In many cases we might need to read data available in an external file rather than type it into Julia ourselves.
This tutorial is concerned with reading tabular data into Julia and using it for a JuMP model. 
We'll be reading data using the DataFrames.jl package and some other packages specific to file types.

Note: There are multiple ways to read the same kind of data intto Julia.
However, this tutorial only focuses on DataFrames.jl as
it provides the ecosystem to work with most of the required file types in a straightforward manner.

### DataFrames.jl

The DataFrames package provides a set of tools for working with tabular data. 
It is available through the Julia package system.

In [1]:
using Pkg
Pkg.add("DataFrames")

  Updating registry at `~/.julia/registries/General`
  Updating git-repo `https://github.com/JuliaRegistries/General.git`
 Resolving package versions...
  Updating `~/Documents/crptests/project_julia/JuMPTutorials.jl/Project.toml`
 [no changes]
  Updating `~/Documents/crptests/project_julia/JuMPTutorials.jl/Manifest.toml`
 [no changes]

### What is a DataFrame?

A DataFrame is a data structure like a table or spreadsheet. You can use it for storing and exploring a set of related data values. 
Think of it as a smarter array for holding tabular data.

## Reading Tabular Data into a DataFrame
We will begin by reading data from different file formats into a DataFrame object.
The example files that we will be reading are present in the data folder.

### Excel Sheets
Excel files can be read using the ExcelFiles.jl package.

In [2]:
Pkg.add("XLSX")

 Resolving package versions...
  Updating `~/Documents/crptests/project_julia/JuMPTutorials.jl/Project.toml`
 [no changes]
  Updating `~/Documents/crptests/project_julia/JuMPTutorials.jl/Manifest.toml`
 [no changes]

To read a Excel file into a DataFrame, we use the following julia code. 
The first arguement to the `readtable` function is the file to be read and the second arguement is the name of the sheet.

In [3]:
using DataFrames
using XLSX

In [4]:
data_dir = joinpath(@__DIR__, "data")
excel_df = DataFrame(XLSX.readtable(joinpath(data_dir, "SalesData.xlsx"), "SalesOrders")...)

18×7 DataFrame. Omitted printing of 1 columns
│ Row │ OrderDate  │ Region  │ Rep      │ Item    │ Units │ Unit Cost │
│     │ Any        │ Any     │ Any      │ Any     │ Any   │ Any       │
├─────┼────────────┼─────────┼──────────┼─────────┼───────┼───────────┤
│ 1   │ 2018-01-06 │ East    │ Jones    │ Pencil  │ 95    │ 1.99      │
│ 2   │ 2018-01-23 │ Central │ Kivell   │ Binder  │ 50    │ 19.99     │
│ 3   │ 2018-02-09 │ Central │ Jardine  │ Pencil  │ 36    │ 4.99      │
│ 4   │ 2018-02-26 │ Central │ Gill     │ Pen     │ 27    │ 19.99     │
│ 5   │ 2018-03-15 │ West    │ Sorvino  │ Pencil  │ 56    │ 2.99      │
│ 6   │ 2018-06-08 │ East    │ Jones    │ Binder  │ 60    │ 8.99      │
│ 7   │ 2018-06-25 │ Central │ Morgan   │ Pencil  │ 90    │ 4.99      │
│ 8   │ 2018-07-12 │ East    │ Howard   │ Binder  │ 29    │ 1.99      │
│ 9   │ 2019-07-21 │ Central │ Morgan   │ Pen Set │ 55    │ 12.49     │
│ 10  │ 2019-08-07 │ Central │ Kivell   │ Pen Set │ 42    │ 23.95     │
│ 11  │ 2019-08-24 │ West    │ Sorvino  │ Desk    │ 3     │ 275.0     │
│ 12  │ 2019-09-10 │ Central │ Gill     │ Pencil  │ 7     │ 1.29      │
│ 13  │ 2019-09-27 │ West    │ Sorvino  │ Pen     │ 76    │ 1.99      │
│ 14  │ 2019-10-14 │ West    │ Thompson │ Binder  │ 57    │ 19.99     │
│ 15  │ 2019-10-31 │ Central │ Andrews  │ Pencil  │ 14    │ 1.29      │
│ 16  │ 2019-11-17 │ Central │ Jardine  │ Binder  │ 11    │ 4.99      │
│ 17  │ 2019-12-04 │ Central │ Jardine  │ Binder  │ 94    │ 19.99     │
│ 18  │ 2019-12-21 │ Central │ Andrews  │ Binder  │ 28    │ 4.99      │

### CSV Files
CSV and other delimited text files can be read the CSV.jl package.

In [5]:
Pkg.add("CSV")

 Resolving package versions...
  Updating `~/Documents/crptests/project_julia/JuMPTutorials.jl/Project.toml`
 [no changes]
  Updating `~/Documents/crptests/project_julia/JuMPTutorials.jl/Manifest.toml`
 [no changes]

To read a CSV file into a DataFrame, we use the `CSV.read` function.

In [6]:
using CSV
csv_df = CSV.read(joinpath(data_dir, "StarWars.csv"))

20×13 DataFrame. Omitted printing of 7 columns
│ Row │ Name             │ Gender │ Height  │ Weight │ Eyecolor │ Haircolor │
│     │ String           │ String │ Float64 │ String │ String   │ String    │
├─────┼──────────────────┼────────┼─────────┼────────┼──────────┼───────────┤
│ 1   │ Anakin Skywalker │ male   │ 1.88    │ 84     │ blue     │ blond     │
│ 2   │ Padme Amidala    │ female │ 1.65    │ 45     │ brown    │ brown     │
│ 3   │ Luke Skywalker   │ male   │ 1.72    │ 77     │ blue     │ blond     │
│ 4   │ Leia Skywalker   │ female │ 1.5     │ 49     │ brown    │ brown     │
│ 5   │ Qui-Gon Jinn     │ male   │ 1.93    │ 88.5   │ blue     │ brown     │
│ 6   │ Obi-Wan Kenobi   │ male   │ 1.82    │ 77     │ bluegray │ auburn    │
│ 7   │ Han Solo         │ male   │ 1.8     │ 80     │ brown    │ brown     │
│ 8   │ Sheev Palpatine  │ male   │ 1.73    │ 75     │ blue     │ red       │
│ 9   │ R2-D2            │ male   │ 0.96    │ 32     │ NA       │ NA        │
│ 10  │ C-3PO            │ male   │ 1.67    │ 75     │ NA       │ NA        │
│ 11  │ Yoda             │ male   │ 0.66    │ 17     │ brown    │ brown     │
│ 12  │ Darth Maul       │ male   │ 1.75    │ 80     │ yellow   │ none      │
│ 13  │ Dooku            │ male   │ 1.93    │ 86     │ brown    │ brown     │
│ 14  │ Chewbacca        │ male   │ 2.28    │ 112    │ blue     │ brown     │
│ 15  │ Jabba            │ male   │ 3.9     │ NA     │ yellow   │ none      │
│ 16  │ Lando Calrissian │ male   │ 1.78    │ 79     │ brown    │ blank     │
│ 17  │ Boba Fett        │ male   │ 1.83    │ 78     │ brown    │ black     │
│ 18  │ Jango Fett       │ male   │ 1.83    │ 79     │ brown    │ black     │
│ 19  │ Grievous         │ male   │ 2.16    │ 159    │ gold     │ black     │
│ 20  │ Chief Chirpa     │ male   │ 1.0     │ 50     │ black    │ gray      │

### Other Delimited Files
We can also use the CSV.jl package to read any other delimited text file format. 
By default, CSV.File will try to detect a file's delimiter from the first 10 lines of the file.
Candidate delimiters include `','`, `'\t'`, `' '`, `'|'`, `';'`, and `':'`. If it can't auto-detect the delimiter, it will assume `','`.
Let's take the example of space separated data.

In [7]:
ss_df = CSV.read(joinpath(data_dir, "Cereal.txt"))

23×10 DataFrame. Omitted printing of 4 columns
│ Row │ Name             │ Cups    │ Calories │ Carbs   │ Fat   │ Fiber   │
│     │ String           │ Float64 │ Int64    │ Float64 │ Int64 │ Float64 │
├─────┼──────────────────┼─────────┼──────────┼─────────┼───────┼─────────┤
│ 1   │ CapnCrunch       │ 0.75    │ 120      │ 12.0    │ 2     │ 0.0     │
│ 2   │ CocoaPuffs       │ 1.0     │ 110      │ 12.0    │ 1     │ 0.0     │
│ 3   │ Trix             │ 1.0     │ 110      │ 13.0    │ 1     │ 0.0     │
│ 4   │ AppleJacks       │ 1.0     │ 110      │ 11.0    │ 0     │ 1.0     │
│ 5   │ CornChex         │ 1.0     │ 110      │ 22.0    │ 0     │ 0.0     │
│ 6   │ CornFlakes       │ 1.0     │ 100      │ 21.0    │ 0     │ 1.0     │
│ 7   │ Nut&Honey        │ 0.67    │ 120      │ 15.0    │ 1     │ 0.0     │
│ 8   │ Smacks           │ 0.75    │ 110      │ 9.0     │ 1     │ 1.0     │
│ 9   │ MultiGrain       │ 1.0     │ 100      │ 15.0    │ 1     │ 2.0     │
│ 10  │ CracklinOat      │ 0.5     │ 110      │ 10.0    │ 3     │ 4.0     │
│ 11  │ GrapeNuts        │ 0.25    │ 110      │ 17.0    │ 0     │ 3.0     │
│ 12  │ HoneyNutCheerios │ 0.75    │ 110      │ 11.5    │ 1     │ 1.5     │
│ 13  │ NutriGrain       │ 0.67    │ 140      │ 21.0    │ 2     │ 3.0     │
│ 14  │ Product19        │ 1.0     │ 100      │ 20.0    │ 0     │ 1.0     │
│ 15  │ TotalRaisinBran  │ 1.0     │ 140      │ 15.0    │ 1     │ 4.0     │
│ 16  │ WheatChex        │ 0.67    │ 100      │ 17.0    │ 1     │ 3.0     │
│ 17  │ Oatmeal          │ 0.5     │ 130      │ 13.5    │ 2     │ 1.5     │
│ 18  │ Life             │ 0.67    │ 100      │ 12.0    │ 2     │ 2.0     │
│ 19  │ Maypo            │ 1.0     │ 100      │ 16.0    │ 1     │ 0.0     │
│ 20  │ QuakerOats       │ 0.5     │ 100      │ 14.0    │ 1     │ 2.0     │
│ 21  │ Muesli           │ 1.0     │ 150      │ 16.0    │ 3     │ 3.0     │
│ 22  │ Cheerios         │ 1.25    │ 110      │ 17.0    │ 2     │ 2.0     │
│ 23  │ SpecialK         │ 1.0     │ 110      │ 16.0    │ 0     │ 1.0     │

We can also specify the delimiter by passing the `delim` arguement.

In [8]:
delim_df = CSV.read(joinpath(data_dir, "Soccer.txt"), delim = "::")

20×7 DataFrame. Omitted printing of 1 columns
│ Row │ Team                │ Played │ Wins  │ Draws │ Losses │ Goals_for │
│     │ String              │ Int64  │ Int64 │ Int64 │ Int64  │ String    │
├─────┼─────────────────────┼────────┼───────┼───────┼────────┼───────────┤
│ 1   │ Barcelona           │ 38     │ 30    │ 4     │ 4      │ 110 goals │
│ 2   │ Real Madrid         │ 38     │ 30    │ 2     │ 6      │ 118 goals │
│ 3   │ Atletico Madrid     │ 38     │ 23    │ 9     │ 6      │ 67 goals  │
│ 4   │ Valencia            │ 38     │ 22    │ 11    │ 5      │ 70 goals  │
│ 5   │ Seville             │ 38     │ 23    │ 7     │ 8      │ 71 goals  │
│ 6   │ Villarreal          │ 38     │ 16    │ 12    │ 10     │ 48 goals  │
│ 7   │ Athletic Bilbao     │ 38     │ 15    │ 10    │ 13     │ 42 goals  │
│ 8   │ Celta Vigo          │ 38     │ 13    │ 12    │ 13     │ 47 goals  │
│ 9   │ Malaga              │ 38     │ 14    │ 8     │ 16     │ 42 goals  │
│ 10  │ Espanyol            │ 38     │ 13    │ 10    │ 15     │ 47 goals  │
│ 11  │ Rayo Vallecano      │ 38     │ 15    │ 4     │ 19     │ 46 goals  │
│ 12  │ Real Sociedad       │ 38     │ 11    │ 13    │ 14     │ 44 goals  │
│ 13  │ Elche               │ 38     │ 11    │ 8     │ 19     │ 35 goals  │
│ 14  │ Levante             │ 38     │ 9     │ 10    │ 19     │ 34 goals  │
│ 15  │ Getafe              │ 38     │ 10    │ 7     │ 21     │ 33 goals  │
│ 16  │ Deportivo La Coruna │ 38     │ 7     │ 14    │ 17     │ 35 goals  │
│ 17  │ Granada             │ 38     │ 7     │ 14    │ 17     │ 29 goals  │
│ 18  │ Eibar               │ 38     │ 9     │ 8     │ 21     │ 34 goals  │
│ 19  │ Almeria             │ 38     │ 8     │ 8     │ 22     │ 35 goals  │
│ 20  │ Cordoba             │ 38     │ 3     │ 11    │ 24     │ 22 goals  │

Note that by default, are read-only. If we wish to make changes to the data read, we pass the `copycols = true` arguement in the function call.

In [9]:
ss_df = CSV.read(joinpath(data_dir, "Cereal.txt"), copycols = true)

23×10 DataFrame. Omitted printing of 4 columns
│ Row │ Name             │ Cups    │ Calories │ Carbs   │ Fat   │ Fiber   │
│     │ String           │ Float64 │ Int64    │ Float64 │ Int64 │ Float64 │
├─────┼──────────────────┼─────────┼──────────┼─────────┼───────┼─────────┤
│ 1   │ CapnCrunch       │ 0.75    │ 120      │ 12.0    │ 2     │ 0.0     │
│ 2   │ CocoaPuffs       │ 1.0     │ 110      │ 12.0    │ 1     │ 0.0     │
│ 3   │ Trix             │ 1.0     │ 110      │ 13.0    │ 1     │ 0.0     │
│ 4   │ AppleJacks       │ 1.0     │ 110      │ 11.0    │ 0     │ 1.0     │
│ 5   │ CornChex         │ 1.0     │ 110      │ 22.0    │ 0     │ 0.0     │
│ 6   │ CornFlakes       │ 1.0     │ 100      │ 21.0    │ 0     │ 1.0     │
│ 7   │ Nut&Honey        │ 0.67    │ 120      │ 15.0    │ 1     │ 0.0     │
│ 8   │ Smacks           │ 0.75    │ 110      │ 9.0     │ 1     │ 1.0     │
│ 9   │ MultiGrain       │ 1.0     │ 100      │ 15.0    │ 1     │ 2.0     │
│ 10  │ CracklinOat      │ 0.5     │ 110      │ 10.0    │ 3     │ 4.0     │
│ 11  │ GrapeNuts        │ 0.25    │ 110      │ 17.0    │ 0     │ 3.0     │
│ 12  │ HoneyNutCheerios │ 0.75    │ 110      │ 11.5    │ 1     │ 1.5     │
│ 13  │ NutriGrain       │ 0.67    │ 140      │ 21.0    │ 2     │ 3.0     │
│ 14  │ Product19        │ 1.0     │ 100      │ 20.0    │ 0     │ 1.0     │
│ 15  │ TotalRaisinBran  │ 1.0     │ 140      │ 15.0    │ 1     │ 4.0     │
│ 16  │ WheatChex        │ 0.67    │ 100      │ 17.0    │ 1     │ 3.0     │
│ 17  │ Oatmeal          │ 0.5     │ 130      │ 13.5    │ 2     │ 1.5     │
│ 18  │ Life             │ 0.67    │ 100      │ 12.0    │ 2     │ 2.0     │
│ 19  │ Maypo            │ 1.0     │ 100      │ 16.0    │ 1     │ 0.0     │
│ 20  │ QuakerOats       │ 0.5     │ 100      │ 14.0    │ 1     │ 2.0     │
│ 21  │ Muesli           │ 1.0     │ 150      │ 16.0    │ 3     │ 3.0     │
│ 22  │ Cheerios         │ 1.25    │ 110      │ 17.0    │ 2     │ 2.0     │
│ 23  │ SpecialK         │ 1.0     │ 110      │ 16.0    │ 0     │ 1.0     │

## Working with DataFrames
Now that we have read the required data into a DataFrame, let us look at some basic operations we can perform on it.

### Querying Basic Information
The `size` function gets us the dimensions of the DataFrame.

In [10]:
size(ss_df)

(23, 10)

We can also us the `nrow` and `ncol` functions to get the number of rows and columns respectively.

In [11]:
nrow(ss_df), ncol(ss_df)

(23, 10)

The `describe` function gives basic summary statistics of data in a DataFrame.

In [12]:
describe(ss_df)

10×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable  │ mean     │ min        │ median │ max       │ nunique │
│     │ Symbol    │ Union…   │ Any        │ Union… │ Any       │ Union…  │
├─────┼───────────┼──────────┼────────────┼────────┼───────────┼─────────┤
│ 1   │ Name      │          │ AppleJacks │        │ WheatChex │ 23      │
│ 2   │ Cups      │ 0.823043 │ 0.25       │ 1.0    │ 1.25      │         │
│ 3   │ Calories  │ 113.043  │ 100        │ 110.0  │ 150       │         │
│ 4   │ Carbs     │ 15.0435  │ 9.0        │ 15.0   │ 22.0      │         │
│ 5   │ Fat       │ 1.13043  │ 0          │ 1.0    │ 3         │         │
│ 6   │ Fiber     │ 1.56522  │ 0.0        │ 1.5    │ 4.0       │         │
│ 7   │ Potassium │ 86.3043  │ 25         │ 90.0   │ 230       │         │
│ 8   │ Protein   │ 2.91304  │ 1          │ 3.0    │ 6         │         │
│ 9   │ Sodium    │ 189.957  │ 0          │ 190.0  │ 320       │         │
│ 10  │ Sugars    │ 7.52174  │ 1          │ 7.0    │ 15        │         │

Names of every column can be obtained by the `names` function.

In [13]:
names(ss_df)

10-element Array{Symbol,1}:
 :Name
 :Cups
 :Calories
 :Carbs
 :Fat
 :Fiber
 :Potassium
 :Protein
 :Sodium
 :Sugars

Corresponding data types are obtained using the broadcasted `eltype` function.

In [14]:
eltype.(ss_df)

23×10 DataFrame. Omitted printing of 4 columns
│ Row │ Name     │ Cups     │ Calories │ Carbs    │ Fat      │ Fiber    │
│     │ DataType │ DataType │ DataType │ DataType │ DataType │ DataType │
├─────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 2   │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 3   │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 4   │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 5   │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 6   │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 7   │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 8   │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 9   │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 10  │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 11  │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 12  │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 13  │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 14  │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 15  │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 16  │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 17  │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 18  │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 19  │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 20  │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 21  │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 22  │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │
│ 23  │ Char     │ Float64  │ Int64    │ Float64  │ Int64    │ Float64  │

### Accessing the Data
Similar to regular arrays, we use numerical indexing to access elements of a DataFrame.

In [15]:
csv_df[1,1]

"Anakin Skywalker"

The following are different ways to access a column.

In [16]:
csv_df[!, 1]

20-element CSV.Column{String,String}:
 "Anakin Skywalker"
 "Padme Amidala"
 "Luke Skywalker"
 "Leia Skywalker"
 "Qui-Gon Jinn"
 "Obi-Wan Kenobi"
 "Han Solo"
 "Sheev Palpatine"
 "R2-D2"
 "C-3PO"
 "Yoda"
 "Darth Maul"
 "Dooku"
 "Chewbacca"
 "Jabba"
 "Lando Calrissian"
 "Boba Fett"
 "Jango Fett"
 "Grievous"
 "Chief Chirpa"

In [17]:
csv_df[!, :Name]

20-element CSV.Column{String,String}:
 "Anakin Skywalker"
 "Padme Amidala"
 "Luke Skywalker"
 "Leia Skywalker"
 "Qui-Gon Jinn"
 "Obi-Wan Kenobi"
 "Han Solo"
 "Sheev Palpatine"
 "R2-D2"
 "C-3PO"
 "Yoda"
 "Darth Maul"
 "Dooku"
 "Chewbacca"
 "Jabba"
 "Lando Calrissian"
 "Boba Fett"
 "Jango Fett"
 "Grievous"
 "Chief Chirpa"

In [18]:
csv_df.Name

20-element CSV.Column{String,String}:
 "Anakin Skywalker"
 "Padme Amidala"
 "Luke Skywalker"
 "Leia Skywalker"
 "Qui-Gon Jinn"
 "Obi-Wan Kenobi"
 "Han Solo"
 "Sheev Palpatine"
 "R2-D2"
 "C-3PO"
 "Yoda"
 "Darth Maul"
 "Dooku"
 "Chewbacca"
 "Jabba"
 "Lando Calrissian"
 "Boba Fett"
 "Jango Fett"
 "Grievous"
 "Chief Chirpa"

In [19]:
csv_df[:, 1] # note that this creates a copy

20-element WeakRefStrings.StringArray{String,1}:
 "Anakin Skywalker"
 "Padme Amidala"
 "Luke Skywalker"
 "Leia Skywalker"
 "Qui-Gon Jinn"
 "Obi-Wan Kenobi"
 "Han Solo"
 "Sheev Palpatine"
 "R2-D2"
 "C-3PO"
 "Yoda"
 "Darth Maul"
 "Dooku"
 "Chewbacca"
 "Jabba"
 "Lando Calrissian"
 "Boba Fett"
 "Jango Fett"
 "Grievous"
 "Chief Chirpa"

The following are different ways to access a row.

In [20]:
csv_df[1:1, :]

1×13 DataFrame. Omitted printing of 7 columns
│ Row │ Name             │ Gender │ Height  │ Weight │ Eyecolor │ Haircolor │
│     │ String           │ String │ Float64 │ String │ String   │ String    │
├─────┼──────────────────┼────────┼─────────┼────────┼──────────┼───────────┤
│ 1   │ Anakin Skywalker │ male   │ 1.88    │ 84     │ blue     │ blond     │

In [21]:
csv_df[1, :] # this produces a DataFrameRow

DataFrameRow. Omitted printing of 7 columns
│ Row │ Name             │ Gender │ Height  │ Weight │ Eyecolor │ Haircolor │
│     │ String           │ String │ Float64 │ String │ String   │ String    │
├─────┼──────────────────┼────────┼─────────┼────────┼──────────┼───────────┤
│ 1   │ Anakin Skywalker │ male   │ 1.88    │ 84     │ blue     │ blond     │

We can change the values just as we normally assign values.

Assign a range to scalar.

In [22]:
excel_df[1:3, 5] .= 1

3-element view(::Array{Any,1}, 1:3) with eltype Any:
 1
 1
 1

Vector to equal length vector.

In [23]:
excel_df[4:6, 5] = [4, 5, 6]

3-element Array{Int64,1}:
 4
 5
 6

Subset of the DataFrame to another data frame of matching size.

In [24]:
excel_df[1:2, 6:7] =  DataFrame([-2 -2; -2 -2], [Symbol("Unit Cost"), :Total])

2×2 DataFrame
│ Row │ Unit Cost │ Total │
│     │ Int64     │ Int64 │
├─────┼───────────┼───────┤
│ 1   │ -2        │ -2    │
│ 2   │ -2        │ -2    │

In [25]:
excel_df

18×7 DataFrame. Omitted printing of 1 columns
│ Row │ OrderDate  │ Region  │ Rep      │ Item    │ Units │ Unit Cost │
│     │ Any        │ Any     │ Any      │ Any     │ Any   │ Any       │
├─────┼────────────┼─────────┼──────────┼─────────┼───────┼───────────┤
│ 1   │ 2018-01-06 │ East    │ Jones    │ Pencil  │ 1     │ -2        │
│ 2   │ 2018-01-23 │ Central │ Kivell   │ Binder  │ 1     │ -2        │
│ 3   │ 2018-02-09 │ Central │ Jardine  │ Pencil  │ 1     │ 4.99      │
│ 4   │ 2018-02-26 │ Central │ Gill     │ Pen     │ 4     │ 19.99     │
│ 5   │ 2018-03-15 │ West    │ Sorvino  │ Pencil  │ 5     │ 2.99      │
│ 6   │ 2018-06-08 │ East    │ Jones    │ Binder  │ 6     │ 8.99      │
│ 7   │ 2018-06-25 │ Central │ Morgan   │ Pencil  │ 90    │ 4.99      │
│ 8   │ 2018-07-12 │ East    │ Howard   │ Binder  │ 29    │ 1.99      │
│ 9   │ 2019-07-21 │ Central │ Morgan   │ Pen Set │ 55    │ 12.49     │
│ 10  │ 2019-08-07 │ Central │ Kivell   │ Pen Set │ 42    │ 23.95     │
│ 11  │ 2019-08-24 │ West    │ Sorvino  │ Desk    │ 3     │ 275.0     │
│ 12  │ 2019-09-10 │ Central │ Gill     │ Pencil  │ 7     │ 1.29      │
│ 13  │ 2019-09-27 │ West    │ Sorvino  │ Pen     │ 76    │ 1.99      │
│ 14  │ 2019-10-14 │ West    │ Thompson │ Binder  │ 57    │ 19.99     │
│ 15  │ 2019-10-31 │ Central │ Andrews  │ Pencil  │ 14    │ 1.29      │
│ 16  │ 2019-11-17 │ Central │ Jardine  │ Binder  │ 11    │ 4.99      │
│ 17  │ 2019-12-04 │ Central │ Jardine  │ Binder  │ 94    │ 19.99     │
│ 18  │ 2019-12-21 │ Central │ Andrews  │ Binder  │ 28    │ 4.99      │

There are a lot more things which can be done with a DataFrame. 
See the [docs](https://juliadata.github.io/DataFrames.jl/stable/) for more information.

## A Complete Modelling Example - Passport Problem

Let's now apply what we have learnt to solve a real modelling problem.

The [Passport Index Dataset](https://github.com/ilyankou/passport-index-dataset) 
lists travel visa requirements for 199 countries, in .csv format.
Our task is to find out the minimum number of passports required to visit all countries.

In this dataset, the first column represents a passport (=from) and each remaining column represents a foreign country (=to). 
The values in each cell are as follows:
* 3 = visa-free travel
* 2 = eTA is required
* 1 = visa can be obtained on arrival
* 0 = visa is required
* -1 is for all instances where passport and destination are the same

Our task is to find out the minimum number of passports needed to visit every country without requiring a visa.
Thus, the values we are interested in are -1 and 3. Let us modify the data in the following manner -

In [26]:
passportdata = CSV.read(joinpath(data_dir, "passport-index-matrix.csv"), copycols = true)

for i in 1:nrow(passportdata)
    for j in 2:ncol(passportdata)
        if passportdata[i,j] == -1 || passportdata[i,j] == 3
            passportdata[i,j] = 1
        else
            passportdata[i,j] = 0
        end
    end
end

The values in the cells now represent:
* 1 = no visa required for travel
* 0 = visa required for travel

Let us assossciate each passport with a decision variable $pass_{cntr}$ for each country. 
We want to minize the sum $\sum pass_{cntr}$ over all countries.

Since we wish to visit all the countries, for every country, 
we should own atleast one passport that lets us travel to that country visa free. 
For one destination, this can be mathematically represented as $\sum_{cntr \in world} passportdata_{cntr,dest} \cdot pass_{cntr} \geq 1$.

Thus, we can represent this problem using the following model:

$$
\begin{align*}
\min && \sum_{cntr \in World} pass_{cntr} \\
\text{s.t.} && \sum_{cntr \in World} passportdata_{cntr,dest} \cdot pass_{cntr} \geq 1 && \forall dest \in World \\
&& pass_{cntr} \in \{0,1\} && \forall cntr \in World
\end{align*}
$$

We'll now solve the problem using JuMP.

In [27]:
using JuMP, GLPK

# Finding number of countries
n = ncol(passportdata) - 1 # Subtract 1 for column representing country of passport

model = Model(GLPK.Optimizer)
@variable(model, pass[1:n], Bin)
@constraint(model, [j = 2:n], sum(passportdata[i,j] * pass[i] for i in 1:n) >= 1)
@objective(model, Min, sum(pass))
optimize!(model)

println("Minimum number of passports needed: ", objective_value(model))

Minimum number of passports needed: 23.0

In [28]:
countryindex = findall(value.(pass) .== 1 )

print("Countries: ")
for i in countryindex
    print(names(passportdata)[i+1], " ")
end

Countries: Afghanistan Angola Australia Austria Comoros Congo Eritrea Gambia Georgia Hong Kong India Iraq Kenya Madagascar Maldives North Korea Papua New Guinea Singapore Somalia Sri Lanka Tunisia United Arab Emirates United States