<img src=http://fd.perso.eisti.fr/Logos/TORUS2.png>

To illustrate clustering algorithm, we can use the traditional example : the Iris example with K-Means!

"K-means clustering is a method of vector quantization, originally from signal processing, that is popular for cluster analysis in data mining. k-means clustering aims to partition n observations into k clusters in which each observation belongs to the cluster with the nearest mean, serving as a prototype of the cluster."

(source : https://en.wikipedia.org/wiki/K-means_clustering)

### Read dataset (csv format) from HDFS

Here we use the dataset from https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data

The target variable will be class (there are 3 classes : Iris Setosa, Iris Versicolour, Iris Virginica) and the variables descriptives are : 
- sepal length
- sepal width
- petal length
- petal width

In [ ]:
import org.apache.spark.sql._            
val spark = SparkSession.builder().getOrCreate()

val df = spark.read.format("com.databricks.spark.csv")
              .option("header", "true")
              .option("inferSchema", "true") 
              .load("hdfs://hupi-factory-02-01-01-01/user/hupi/dataset_torusVN/formation4_ML/iris.csv")

import org.apache.spark.sql._
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@38cf5f44
df: org.apache.spark.sql.DataFrame = [sepalLength: double, sepalWidth: double ... 3 more fields]

### Show the dataframe
Use the function `show`

###  Print the schema of the dataframe
Use the fonction `printSchema`

### Select some columns
Use the function `select`

### Rename some columns
Use the fonction `withColumnRenamed("actual_name", "new_name")`
For example rename the column "class" to "irisClass".

### Get the distinct values of a columns
Use the function `select`and the function `distinct`

### Insert a new column
Use the fonction `withColumn`
For example add a new column with the categorisation of the Iris classes into numeric variable.
The column will be `IrisNum` and we want the following classification :
- Iris-virginica => 0
- Iris-setosa => 1
- Iris-versicolor => 2

You will need to use operators `when` and `otherwise`.

In [ ]:
df.show()

+-----------+----------+-----------+----------+-----------+
|sepalLength|sepalWidth|petalLength|petalWidth|      class|
+-----------+----------+-----------+----------+-----------+
|        5.1|       3.5|        1.4|       0.2|Iris-setosa|
|        4.9|       3.0|        1.4|       0.2|Iris-setosa|
|        4.7|       3.2|        1.3|       0.2|Iris-setosa|
|        4.6|       3.1|        1.5|       0.2|Iris-setosa|
|        5.0|       3.6|        1.4|       0.2|Iris-setosa|
|        5.4|       3.9|        1.7|       0.4|Iris-setosa|
|        4.6|       3.4|        1.4|       0.3|Iris-setosa|
|        5.0|       3.4|        1.5|       0.2|Iris-setosa|
|        4.4|       2.9|        1.4|       0.2|Iris-setosa|
|        4.9|       3.1|        1.5|       0.1|Iris-setosa|
|        5.4|       3.7|        1.5|       0.2|Iris-setosa|
|        4.8|       3.4|        1.6|       0.2|Iris-setosa|
|        4.8|       3.0|        1.4|       0.1|Iris-setosa|
|        4.3|       3.0|        1.1|       0.1|Iris-setosa|
|        5.8|       4.0|        1.2|       0.2|Iris-setosa|
|        5.7|       4.4|        1.5|       0.4|Iris-setosa|
|        5.4|       3.9|        1.3|       0.4|Iris-setosa|
|        5.1|       3.5|        1.4|       0.3|Iris-setosa|
|        5.7|       3.8|        1.7|       0.3|Iris-setosa|
|        5.1|       3.8|        1.5|       0.3|Iris-setosa|
+-----------+----------+-----------+----------+-----------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- sepalLength: double (nullable = true)
 |-- sepalWidth: double (nullable = true)
 |-- petalLength: double (nullable = true)
 |-- petalWidth: double (nullable = true)
 |-- class: string (nullable = true)

### Count the number of lines of a dataframe
Use the function `count`

### Change the type of column
The transformations on some columns are made for example doing a `withColumn`.
And inside the `withColumn` you can make some transformation using some created functions or existing functions.

**For example**: Use the function `cast` in order to change the type of the column "sepalLength" to string type.